@page
@model Lojistik.Pages.Seferler.AddSiparisModel
@{
    ViewData["Title"] = "Sefer Sipariş Ekle";
}

<h2>Sefer Sipariş Ekle</h2>

<form method="post">
    <input type="hidden" asp-for="SeferID" />

    <div class="mb-3">
        <label class="form-label">Sipariş (Dorse - Alıcı - Ülke)</label>
        <select asp-for="SiparisID" asp-items="Model.SiparislerSelect" class="form-select"></select>
    </div>

    <button type="submit" class="btn btn-success">Ekle</button>
    <a asp-page="./Details" asp-route-id="@Model.SeferID" class="btn btn-secondary">İptal</a>
</form>
